<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Document {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    {% block styles %}
    {% endblock %}
</head>
<body>
<h1>Site de gestion de congrès</h1>
{% block content %}

{% endblock %}

<footer>
    <a href="{{url_for('menu')}}">Retour à la page d'accueil</a>
    <hr>
    <div>Copyright 2030 by the site de gestion de congrès !</div>
</footer>
</body>
</html>