{% extends 'base.html' %}

{% block content %}
<h2>Liste des congrès</h2>

<table>
    <thead>
        <tr>
            {% for title in column %}
            <th>{{ title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for congres in data %}
    <tr>
        <td>{{congres[0]}}</td>
        <td>{{congres[1]}}</td>
        <td>{{congres[2]}}</td>
        <td>{{congres[3]}}</td>
        <td>{{congres[4]}}</td>
        <td>{{congres[5]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}