{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='validation.css')}}">
{% endblock %}

{% block title %}Validation{% endblock %}

{% block content %}
<div class="container">
    <h2>Validation</h2>
        <p><b>{{session["participant"]["prenompart"]}} {{session["participant"]["nompart"]}}</b> Nous confirmons votre enregistrement au congrès <b>{{congres[1]}}</b> édition <b>{{congres[2]}}</b> pour les activités et thématiques suivantes: </p>
        <hr>
        <h3 for="theme">Thématiques</h3>
        <div class="themes-container">
            {% for theme in themes %}
            
            <p>{{theme[1]}}</p>
            <input type="hidden" value="{{theme[0]}}" name="theme" >
            
            {% endfor %}
        </div>
        <hr>
        <h3>Activités</h3>
        <div class="activities-container">
            {% for activity in activities %}
            <p>{{activity[1]}}</p>
            <input type="hidden" value="{{activity[0]}}"  name="activity" >
            
            {% endfor %}
        </div>
        <hr>
       
        <p>Pour un total de <b>{{price}} €</b></p>
</div>

{% endblock %}